$neutral-light: #ffffff;
$shade-dark: #000000;
$sky: #3b6fec;
$sky-v2: #1d51c7;
$sky-light: #598dff;
$stone: #dadada;
$stone-v2: #b5b5b5;
$stoneGray: #52525b;

$neutral-light-bg: #ffffff;
$shade-dark-bg: #0000;
$shade-light-bg: #00000080;
$shade-light-bg-v2: #00000017;
$sky-bg: #3b6fec;
$sky-light-bg: #598dff;
$stone-bg: #dadada;
$stone-bg-v2: #f8f8f8;
$stone-bg-v3: #c2c2c2;
