@use "../../GlobalStyle/mainScss.scss" as *;

.ourTeam {
  margin-top: $margin-lg-v2;
  .ourTeamContent {
    @include flex(null, null, column, null, 56px);
    // default settings (flex) mutable arguments(justify-content, align-items, direction, flex-wrap, gap);
    .ourTeamCard {
      display: inherit;
      gap: 32px;
      .ourTimeTextBox {
        @include flex(center, null, column, null, null);
        // default settings (flex) mutable arguments(justify-content, align-items, direction, flex-wrap, gap);
        .titleCard {
          font-size: $font-size-xxl;
          font-weight: 700;
          margin-bottom: $margin-xs;
          font-family: $font-bold;
        }
        .subTitleCard {
          font-size: $font-size-lg;
          margin-bottom: $margin-xs-4;
          font-family: $font-regular;
          color: $sky;
        }
        .p_card {
          font-size: $font-size-lg-v3;
          font-weight: 400;
          font-family: $font-regular;
        }
      }
    }
  }
}
