@use "../../GlobalStyle/mainScss.scss" as *;

@use "./SignIn/signIn.scss";
@use "./SignUp/signUp.scss";
@use "./authFormsMedia.scss";

@use "./VereficationCode/VereficationCode.scss";
@use "./CreateAccount/createAccount.scss";

.signInForm,
.signUpForm,
.verefCodeForm,
.createAccForm {
  background-image: url("../../images/authFormsImg/authFormsBg.jpg");
  @include bgConfig(100%, 100vh);
  .signInFormContent,
  .signUpFormContent,
  .verefCodeFormContent,
  .createAccFormContent {
    height: 100vh;
    @include flex(space-between, center);
    .signInFormContentBg,
    .signUpFormContentBg,
    .verefCodeSignUpFormContentBg,
    .createAccFormContentBg {
      background-image: url("../../images/authFormsImg/authFormsLogoBg.png");
      @include bgConfig(394px, 250px);
    }
    .form {
      padding: $padding-lg-v2 0 $padding-md-v5 0;
      text-align: center;
      width: 450px;
      background-color: #ffffff;
      @include flex(null, center, column);
      border-radius: 30px;
      .formTitle {
        font-size: $font-size-xxl;
        font-family: "Montserrat-Bold";
        text-transform: uppercase;
      }
      .formContent {
        @include flex(null, null, column);
        width: 100%;
        padding: 0 20px;
        .formInput {
          margin: 0 0 $margin-lg 0;
          @include flex(null, null, column);
          text-align: left;
          margin-bottom: 144px;
          .formLabel {
            font-family: "Montserrat-Medium";
            font-size: $font-size-md-3;
            margin-bottom: $margin-xs-7;
          }
          .input {
            font-size: $font-size-md;
            padding: 14px 20px;
            border-radius: 33px;
            border: 1px solid #c2c2c2;
            font-family: "Montserrat-Regular";
          }

          .showError,
          .hideError {
            color: red;
            font-family: "Montserrat-Regular";
            margin: 5px 0;
          }

          .forgetPassword {
            font-family: "Montserrat-Regular";
            font-size: $font-size-lg-v2;
            color: #3b6fec;
            margin-top: 12px;
          }
        }
        .formInput:first-child {
          margin-top: $margin-lg-v5;
        }
      }
    }
  }
}

.successMain {
  transition: 1s ease-in;
  .successBg {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000004d;
  }
  .success {
    @include flex(null, center, column);
    width: 622px;
    border-radius: 50px;
    padding: 55px;
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 5;
    transform: translate(-50%, -50%);
    .successContent {
      @include flex(null, center, column);
      gap: 26px;
      width: 378px;
      .pSuccess {
        font-family: "Montserrat-Medium";
        font-size: $font-size-xl-v2;
      }
      .spanSuccess {
        font-family: "Montserrat-Regular";
      }
    }
  }
}
