@use "../../../../GlobalStyle/variables" as *;

.swiper {
  max-width: 1440px;
}

.mySwiper {
  display: none;

  margin-top: 24px;
  .swiper-slide {
    width: 416px;
    text-align: center;
    font-size: $font-size-lg;
    background: #fff;
    display: flex;
    align-items: center;
    .swiper-slide img {
      display: block;
      width: 100%;
      object-fit: cover;
    }
  }
}
